.fuenteEspecial {
    font-family: "Satisfy", cursive;
    font-size: 2em;
    color: black;
}

#img-carrito {
    width: 40px;
    height: 40px;
}

#navMenu {
    height: 80px;
}

.nav-link {
    padding: 15px !important;
}

#ancho {
    width: 100%;
}